.days-container{
  display: flex;
  font-family: 'Jura', sans-serif;
  width: 100%;
  margin: 0;
  
}
.input-hide {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.days-container label{
  display: inline-block;  
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  font-size: 1.2em;
  padding: 0.5em;
  text-align: center;
  color: #aaa;
  cursor: pointer;
 }
 input[name="selectDay"]:checked + label{
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  -webkit-box-shadow: #000 1px 1px 10px inset;
  box-shadow: #000 1px 1px 10px inset;
}

