body{
    padding: 0;
    margin: 0;
  }
  .hourlyForecast-container{
    display: flex;
    width: 900px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Jura', sans-serif;
    padding-bottom: 5em;
  }
  .hourlyForecastItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #aaa;
    width: 100px;
    padding: 5px;
   
  }
  .hourlySummary{
    
  }
  
  .hourlySummary img{
   width: 30px;
   height: 30px;
   margin: 0 0.2em;
   }

  .hourlyTemperature{
      display: flex;
      justify-content: space-around;
    font-size: 1em;
    margin: 0;
    align-self: center;
  }
  .hourlyDescription {
    font-size: 0.9em;
    font-weight: normal;
  }  
  .hourlyDetails{
   display: flex;   
   justify-content: space-around;
   font-size: 0.8em; 
  }
  
 

  