.tools-block{
  display: flex;
  margin-top: 10px;
  font-family: 'Jura', sans-serif;
}
.scale-container{
  display: flex;
  margin-left: 1px;
  
}

.scale-container-select{
  width: 76px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 1em auto;
  border: 1px groove #111111;
  color: #d1d1d1;
  padding: 0.5em;
  font-size: 1.1em;
  outline: none;
  margin: 0;
  cursor: pointer;
  text-align: center;
  
 }
